# Files and folder to exclude from git

.vscode/*
*.pyc
__pycache__
db.sqlite3
/static
.DS_Store
.profile
l.sh
back/settings/__init__testserver.py
testserver.py
media/image/*
media/video/*
media/song/*

# Files and folder to keep anyway

!media/image/.keep
!media/video/.keep
!media/song/.keep